<!-- <h1>Built-In Login Logout</h1> -->
<!DOCTYPE html>  
<html lang="en">  
<head>  
    <meta charset="UTF-8">  
    <title>Index</title>  
    {% load static %}  
    <link href="{% static 'css/bootstrap.min.css' %}" >  
    <script src="{% static 'js/bootstrap.min.js' %}"></script> 
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
</head>  
<body>  
<h2>Reset Password</h2>
<h3>Hurray! Your password has been changed.</h3>
<a href="{% url '/login' %}">Click here to Login</a>  
</body>    

