<!DOCTYPE html>  
<html lang="en">  
<head>  
    <meta charset="UTF-8">  
    <title>Home Page</title>  
    {% load static %}  
    <link href="{% static 'css/bootstrap.min.css' %}" >  
    <script src="{% static 'js/bootstrap.min.js' %}"></script> 
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datepicker/1.4.1/js/bootstrap-datepicker.min.js"></script>
    <script>
    $(function(){
       $('.datepicker').datepicker({
          format: 'mm-dd-yyyy'
        });
    });
    </script>    
</head>  
<body>  
  {% include "header.html" %}
    <h2>Hello {{ request.user.first_name }}, Welcome to Seat Booking System !!!</h2>


    <div>
      <h4>Sun Smart</h4>

      <img src="{% static '/white.png' %}" alt="SunLife" height="40px%" width="35px %"/>  
      <img src="{% static '/red.png' %}" alt="SunLife" height="40px%" width="35px %"/> 
      <img src="{% static '/green.png' %}" alt="SunLife" height="40px%" width="35px %"/> 
      <img src="{% static '/grey.png' %}" alt="SunLife" height="40px%" width="35px %"/> 
      <img src="{% static '/white.png' %}" alt="SunLife" height="40px%" width="35px %"/>  
      <img src="{% static '/red.png' %}" alt="SunLife" height="40px%" width="35px %"/> 

    </div>

    <div>
      <h4>TCOE</h4>
      <img src="{% static '/white.png' %}" alt="SunLife" height="40px%" width="35px %"/>  
      <img src="{% static '/red.png' %}" alt="SunLife" height="40px%" width="35px %"/> 
      <img src="{% static '/green.png' %}" alt="SunLife" height="40px%" width="35px %"/> 
      <img src="{% static '/grey.png' %}" alt="SunLife" height="40px%" width="35px %"/> 
      <img src="{% static '/white.png' %}" alt="SunLife" height="40px%" width="35px %"/>  
      <img src="{% static '/red.png' %}" alt="SunLife" height="40px%" width="35px %"/> 


    </div>

    <div>
      <h4>Mobile</h4>
      <img src="{% static '/white.png' %}" alt="SunLife" height="40px%" width="35px %"/>  
      <img src="{% static '/red.png' %}" alt="SunLife" height="40px%" width="35px %"/> 
      <img src="{% static '/green.png' %}" alt="SunLife" height="40px%" width="35px %"/> 
      <img src="{% static '/grey.png' %}" alt="SunLife" height="40px%" width="35px %"/> 
      <img src="{% static '/white.png' %}" alt="SunLife" height="40px%" width="35px %"/>  
      <img src="{% static '/red.png' %}" alt="SunLife" height="40px%" width="35px %"/> 

    </div>


</body>  
</html>  
