<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>

  <style> 
    /* Modify the background color*/      
    .navbar-custom { 
        background-color: #490B3D
               
    }       
    /* li:last-child {
  direction: rtl;
} */
.alignRight {
    float: right;
    position:relative;left: auto;
    right:1px;
}
    .navbar-custom .navbar-brand,
    .navbar-custom .navbar-nav, 
    .navbar-custom .navbar-text { 
        color: white; 
    } 
</style> 

</head>
<script>
  $(document).ready(function() {
    $(".dropdown-toggle").dropdown();
});
  </script>

<nav class="navbar navbar-custom">
  <div class="container-fluid">
    <div class="navbar-header">
      <a class="navbar-brand" href="/home">Company Name</a>
    </div>
    <ul class="nav navbar-nav">
      <li class="active"><a href="/home">Welcome {{ request.user.first_name }}!!!</a></li>
      <li><a href="/select_date">Book Seats</a></li>
      <li class="dropdown">
        <a class="dropdown-toggle" data-toggle="dropdown" href="#">Manage Bookings
        <span class="caret"></span></a>
        <ul class="dropdown-menu">
          <li><a href="/cancel_booking_page">Cancel Bookings</a></li>
          <li><a href="/view_bookings">View Bookings</a></li>
        </ul>
      </li>
      {% if is_admin == True %}
      <li class="dropdown">
        <a class="dropdown-toggle" data-toggle="dropdown" href="#">Admin Portal
        <span class="caret"></span></a>
        <ul class="dropdown-menu">
          <li><a href="/add-floor">Add Floor</a></li>
          <li><a href="/add-seat">Add Seat</a></li>
          <li><a href="/download_report_page">Download Report</a></li>
          <li><a href="/declare_holiday">Declare Holidays</a></li>
        </ul>
      </li>
      {% endif %}
      <li class="dropdown alignRight" >
        <a class="dropdown-toggle" data-toggle="dropdown" href="#">Account
        <span class="caret"></span></a>
        <ul class="dropdown-menu">
          <li><a href="#">Update Profile</a></li>
          <li><a href="#">Change Password</a></li>
          <li><a href="/logout" "><strong>Logout<span class="glyphicon glyphicon-log-out"><span></span></strong></a></li>
   
        </ul>
      </li>

    </ul>
  </div>
</nav>