<!DOCTYPE html>  
<html lang="en">  
<head>  
    <meta charset="UTF-8">  
    <title>View Seats</title>  
    {% load static %}  
    <link href="{% static 'css/bootstrap.min.css' %}" >  
    <script src="{% static 'js/bootstrap.min.js' %}"></script> 
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datepicker/1.4.1/js/bootstrap-datepicker.min.js"></script>
    
    <script>
var last_seat_id = "none";
var last_seat_color ="none";

function enable_button(id){
    console.log(last_seat_id+"-seat");
    if(last_seat_id== id){
        console.log("do nothing");
    }
    else if(last_seat_id!="none"){
        var img_var = document.getElementById(last_seat_id+"-seat");
        document.getElementById(last_seat_id).disabled = true;
        img_var.src = last_seat_color;        
        document.getElementById(id).disabled = false;
        last_seat_color = document.getElementById(id+"-seat").src;
        document.getElementById(id+"-seat").src ="static/grey.png";
        last_seat_id = id;
        document.getElementById("master_button").disabled = false;
    }
    else{
        last_seat_color = document.getElementById(id+"-seat").src;
        document.getElementById(id+"-seat").src ="static/grey.png";
        document.getElementById(id).disabled = false;
        last_seat_id = id;
        document.getElementById("master_button").disabled = false;
    }
    
  }

function book_the_seat(str){

    console.log("Current seat id= "+last_seat_id);
    var button = document.getElementById(last_seat_id);
    button.form.submit();
}
</script>


</head>  
<body>  
  {% include "header.html" %}
    <h2>Hello {{ request.user.first_name }}, Check Seat Availibility!</h2>
    <h4>Seats Booking status for floor {{floor}} on {{booking_date}} for shift {{shift}}</h4> 

    {% if messages %}
    {% for message in messages %}
        <div class="alert {{ message.tags }} m-2" id="msg" role="alert">
          <p style="color:red; margin-left:5%">{{ message }}</p> 
        </div>
    {% endfor %}
{% endif %}

    <div style= "margin-left:5%; margin-right:5%">
      <h4>Area 1</h4>


      <div class = "inline">


        <table><tbody>
        
          <tr>
      {% for seat in all_seats_a_1 %}
      <td>
      {% if seat.row == 'A' %}

      {% if seat.id in self_booked_ids %}
      <img src="{% static '/green.png' %}" alt="booked-seat" height="40px%" width="35px " onclick="enable_button('{{seat.id}}')" id="{{seat.id}}-seat"/> 
      
      {% elif seat.id in booked_seat_ids  %}
      <img src="{% static '/red.png' %}" alt="booked-seat" height="40px%" width="35px %" onclick=" enable_button('{{seat.id}}')" id="{{seat.id}}-seat"/> 

      {% else %}
      <img src="{% static '/white.png' %}" alt="vacant-seat" height="40px%" width="35px %" onclick=" enable_button('{{seat.id}}')" id="{{seat.id}}-seat"/> 


      {% endif %}

      {% endif %}
      {% endfor %}
    </td>
      </tr>
      <tr>
        {% for seat in all_seats_a_1 %}
        <td>
        {% if seat.row == 'A' %}

      <form method="POST" action ="/book_seat">
        {% csrf_token %}
        <input type="hidden" name="seat_row" value ={{seat.row}}>
        <input type="hidden" name="seat_num" value ={{seat.seat_num}}>
        <input type="hidden" name="floor" value ={{floor}}>
        <input type="hidden" name="shift" value ={{shift}}>
        <input type="hidden" name="booked_by" value ={{request.user.first_name}}>
        <input type="hidden" name="seat_id" value ={{seat.id}}>
        <input type="hidden" name="booking_date" value ={{booking_date}}>
        <input type ="hidden" disabled value="Book {{seat.row}}-{{seat.seat_num}}" class="btn btn-info" id ="{{seat.id}}">
      </form>

      &nbsp;&nbsp;{{seat.row}}-{{seat.seat_num}}
      </td>


      {% endif %}
      {% endfor %}
      </tr>

      <tr>
        {% for seat in all_seats_a_2 %}
        <td>
        {% if seat.row == 'A' %}
  
        {% if seat.id in self_booked_ids %}
        <img src="{% static '/green.png' %}" alt="booked-seat" height="40px%" width="35px %" onclick=" enable_button('{{seat.id}}')" id="{{seat.id}}-seat"/> 
        
        {% elif seat.id in booked_seat_ids  %}
        <img src="{% static '/red.png' %}" alt="booked-seat" height="40px%" width="35px %" onclick="enable_button('{{seat.id}}')" id="{{seat.id}}-seat"/> 
  
        {% else %}
        <img src="{% static '/white.png' %}" alt="vacant-seat" height="40px%" width="35px %" onclick=" enable_button('{{seat.id}}')" id="{{seat.id}}-seat"/> 
  
  
        {% endif %}
  
        {% endif %}
        {% endfor %}
      </td>
        </tr>
        <tr>
          {% for seat in all_seats_a_2 %}
          <td>
          {% if seat.row == 'A' %}
  
        <form method="POST" action ="/book_seat">
          {% csrf_token %}
          <input type="hidden" name="seat_row" value ={{seat.row}}>
          <input type="hidden" name="seat_num" value ={{seat.seat_num}}>
          <input type="hidden" name="floor" value ={{floor}}>
          <input type="hidden" name="shift" value ={{shift}}>
          <input type="hidden" name="booked_by" value ={{request.user.first_name}}>
          <input type="hidden" name="seat_id" value ={{seat.id}}>
          <input type="hidden" name="booking_date" value ={{booking_date}}>
          <input type ="hidden" disabled value="Book {{seat.row}}-{{seat.seat_num}}" class="btn btn-info" id ="{{seat.id}}">
        </form>
  
        &nbsp;&nbsp;{{seat.row}}-{{seat.seat_num}}
        </td>
  
  
        {% endif %}
        {% endfor %}
        </tr>

      </tbody>
    </table>

    </div>

    </div>


    <div style= "margin-left:5%; margin-right:5% ">
      <h4>Area 2</h4>


      <div class = "inline">


        <table><tbody>
        
          <tr>
      {% for seat in all_seats_b_1 %}
      <td>
      {% if seat.row == 'B' %}

      {% if seat.id in self_booked_ids %}
      <img src="{% static '/green.png' %}" alt="booked-seat" height="40px%" width="35px %" onclick=" enable_button('{{seat.id}}')" id="{{seat.id}}-seat"/> 
      
      {% elif seat.id in booked_seat_ids  %}
      <img src="{% static '/red.png' %}" alt="booked-seat" height="40px%" width="35px %" onclick=" enable_button('{{seat.id}}')" id="{{seat.id}}-seat"/> 

      {% else %}
      <img src="{% static '/white.png' %}" alt="vacant-seat" height="40px%" width="35px %" onclick=" enable_button('{{seat.id}}')" id="{{seat.id}}-seat"/> 


      {% endif %}

      {% endif %}
      {% endfor %}
    </td>
      </tr>
      <tr>
        {% for seat in all_seats_b_1 %}
        <td>
        {% if seat.row == 'B' %}

      <form method="POST" action ="/book_seat">
        {% csrf_token %}
        <input type="hidden" name="seat_row" value ={{seat.row}}>
        <input type="hidden" name="seat_num" value ={{seat.seat_num}}>
        <input type="hidden" name="floor" value ={{floor}}>
        <input type="hidden" name="shift" value ={{shift}}>
        <input type="hidden" name="booked_by" value ={{request.user.first_name}}>
        <input type="hidden" name="seat_id" value ={{seat.id}}>
        <input type="hidden" name="booking_date" value ={{booking_date}}>
        <input type ="hidden" disabled value="Book {{seat.row}}-{{seat.seat_num}}" class="btn btn-info" id ="{{seat.id}}">
      </form>

      &nbsp;&nbsp;{{seat.row}}-{{seat.seat_num}}
      </td>


      {% endif %}
      {% endfor %}
      </tr>

      <tr>
        {% for seat in all_seats_b_2 %}
        <td>
        {% if seat.row == 'B' %}
  
        {% if seat.id in self_booked_ids %}
        <img src="{% static '/green.png' %}" alt="booked-seat" height="40px%" width="35px %" onclick="enable_button('{{seat.id}}')" id="{{seat.id}}-seat"/> 
        
        {% elif seat.id in booked_seat_ids  %}
        <img src="{% static '/red.png' %}" alt="booked-seat" height="40px%" width="35px %" onclick=" enable_button('{{seat.id}}')" id="{{seat.id}}-seat"/> 
  
        {% else %}
        <img src="{% static '/white.png' %}" alt="vacant-seat" height="40px%" width="35px %" onclick=" enable_button('{{seat.id}}')" id="{{seat.id}}-seat"/> 
  
  
        {% endif %}
  
        {% endif %}
        {% endfor %}
      </td>
        </tr>
        <tr>
          {% for seat in all_seats_b_2 %}
          <td>
          {% if seat.row == 'B' %}
  
        <form method="POST" action ="/book_seat">
          {% csrf_token %}
          <input type="hidden" name="seat_row" value ={{seat.row}}>
          <input type="hidden" name="seat_num" value ={{seat.seat_num}}>
          <input type="hidden" name="floor" value ={{floor}}>
          <input type="hidden" name="shift" value ={{shift}}>
          <input type="hidden" name="booked_by" value ={{request.user.first_name}}>
          <input type="hidden" name="seat_id" value ={{seat.id}}>
          <input type="hidden" name="booking_date" value ={{booking_date}}>
          <input type ="hidden" disabled value="Book {{seat.row}}-{{seat.seat_num}}" class="btn btn-info" id ="{{seat.id}}">
        </form>
  
        &nbsp;&nbsp;{{seat.row}}-{{seat.seat_num}}
        </td>
  
  
        {% endif %}
        {% endfor %}
        </tr>

      </tbody>
    </table>

    </div>

    </div>


    <div style= "margin-left:5%; margin-right:5%;margin-bottom:5%">
      <h4>Area 3</h4>


      <div class = "inline">


        <table><tbody>
        
          <tr>
      {% for seat in all_seats_c_1 %}
      <td>
      {% if seat.row == 'C' %}

      {% if seat.id in self_booked_ids %}
      <img src="{% static '/green.png' %}" alt="booked-seat" height="40px%" width="35px %" onclick=" enable_button('{{seat.id}}')" id="{{seat.id}}-seat"/> 
      
      {% elif seat.id in booked_seat_ids  %}
      <img src="{% static '/red.png' %}" alt="book_seat" height="40px%" width="35px %" onclick=" enable_button('{{seat.id}}')" id="{{seat.id}}-seat"/> 

      {% else %}
      <img src="{% static '/white.png' %}" alt="vacant-seat" height="40px%" width="35px %" onclick=" enable_button('{{seat.id}}')" id="{{seat.id}}-seat"/> 


      {% endif %}

      {% endif %}
      {% endfor %}
    </td>
      </tr>
      <tr>
        {% for seat in all_seats_c_1 %}
        <td>
        {% if seat.row == 'C' %}

      <form method="POST" action ="/book_seat">
        {% csrf_token %}
        <input type="hidden" name="seat_row" value ={{seat.row}}>
        <input type="hidden" name="seat_num" value ={{seat.seat_num}}>
        <input type="hidden" name="floor" value ={{floor}}>
        <input type="hidden" name="shift" value ={{shift}}>
        <input type="hidden" name="booked_by" value ={{request.user.first_name}}>
        <input type="hidden" name="seat_id" value ={{seat.id}}>
        <input type="hidden" name="booking_date" value ={{booking_date}}>
        <input type ="hidden" disabled value="Book {{seat.row}}-{{seat.seat_num}}" class="btn btn-info" id ="{{seat.id}}">
      </form>
      &nbsp;&nbsp;{{seat.row}}-{{seat.seat_num}}

      </td>


      {% endif %}
      {% endfor %}
      </tr>

      <tr>
        {% for seat in all_seats_c_2 %}
        <td>
        {% if seat.row == 'C' %}
  
        {% if seat.id in self_booked_ids %}
        <img src="{% static '/green.png' %}" alt="booked-seat" height="40px%" width="35px % " onclick=" enable_button('{{seat.id}}')" id="{{seat.id}}-seat"/> 
        
        {% elif seat.id in booked_seat_ids  %}
        <img src="{% static '/red.png' %}" alt="booked-seat" height="40px%" width="35px %" onclick=" enable_button('{{seat.id}}')" id="{{seat.id}}-seat"/> 
  
        {% else %}
        <img src="{% static '/white.png' %}" alt="vacant-seat" height="40px%" width="35px %" onclick=" enable_button('{{seat.id}}')" id="{{seat.id}}-seat"/> 
  
  
        {% endif %}
  
        {% endif %}
        {% endfor %}
      </td>
        </tr>
        <tr>
          {% for seat in all_seats_c_2 %}
          <td>
          {% if seat.row == 'C' %}
  
        <form method="POST" action ="/book_seat">
          {% csrf_token %}
          <input type="hidden" name="seat_row" value ={{seat.row}}>
          <input type="hidden" name="seat_num" value ={{seat.seat_num}}>
          <input type="hidden" name="floor" value ={{floor}}>
          <input type="hidden" name="shift" value ={{shift}}>
          <input type="hidden" name="booked_by" value ={{request.user.first_name}}>
          <input type="hidden" name="seat_id" value ={{seat.id}}>
          <input type="hidden" name="booking_date" value ={{booking_date}}>
          <input type ="hidden" disabled value="Book {{seat.row}}-{{seat.seat_num}}" class="btn btn-info" id ="{{seat.id}}">
        </form>
        &nbsp;&nbsp;{{seat.row}}-{{seat.seat_num}}
  
        </td>
  
  
        {% endif %}
        {% endfor %}
        </tr>

      </tbody>
    </table>

    <button id ="master_button" disabled class="btn btn-info" onclick = "book_the_seat('dummy')" >Book This Seat</button>
    
    </div>

    </div >



</body>  
</html>  
